.cur-robot {
  word-break: break-all;
  overflow-wrap: break-word;
  width: 420px;
}

.cur-robot-cont {
  width: 380px;
}

.cur-robot-title {
  font-size: 40px;
  margin-bottom: 40px;
}

.cur-robot-info-list {
  margin: 0 auto;
}

.cur-robot-info-list-header-row {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.5;
  color: #828282;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.cur-robot-info-list-body-row {
  font-weight: 600;
  font-size: 28px;
  line-height: 1.5;

  border-top: 1px solid #e0e0e0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
