.display-board-body {
  width: 1520px;

  display: grid;
  grid-template-columns: 520px 440px 440px;
  grid-gap: 40px;

  padding: 20px;

  font-size: 40px;
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: black;
}
