.remaining-time-card {
  width: 800px;
  height: 240px;
  padding: 40px;

  background: white;
  border-radius: 10px;
  transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  display: grid;
  grid-template: 40px 100px;
}

.shadow {
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(190, 190, 190),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.remaining-time-message {
  font-size: 40px;
}

.remaining-time {
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 70px;
  grid-template-columns: 120px 170px 300px;
  grid-gap: 30px;
}

.remaining-minute {
  display: grid;
  grid-template-columns: 50px 70px;
}

.remaining-second {
  display: grid;
  grid-template-columns: 100px 70px;
}

.remaining-ms {
  display: grid;
  grid-template-columns: 150px 150px;
}
