.next-participant {
  word-break: break-all;
  overflow-wrap: break-word;
  width: 420px;
}

.next-participant-cont {
  width: 380px;
}

.next-participant-title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 40px;
}

.next-particiapnt-name {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 20px;

  text-align: left;
}

.next-particiapnt-association {
  font-size: 35px;
  font-weight: 600;

  text-align: left;
}
