.page .container-1 {
  margin-bottom: 48px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  color: #000000;
}
.page .expert-step-1 {
  margin-right: 12px;
  width: 170px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #828282;
}
.page .expert-step {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #828282;
}
.page .container {
  margin-bottom: 9.9px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 311px;
  box-sizing: border-box;
}
.page .container-2 {
  margin-right: 12px;
  width: 188.6px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.page .container-23 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.page .container-3 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.page .frame-2610398 {
  border-top: 1px solid #E0E0E0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 11.1px 0px 10.5px 0;
  width: 100%;
  box-sizing: border-box;
}
.page .container-4 {
  margin-right: 12px;
  width: 388.6px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.page .container-5 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.page .frame-2610399 {
  border-top: 1px solid #E0E0E0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 11px 0 9.6px 0;
  width: 100%;
  box-sizing: border-box;
}
.page .container-6 {
  margin-right: 12px;
  width: 388.6px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.page .container-7 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.page .frame-2610400 {
  border-top: 1px solid #E0E0E0;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 11px 0 10.6px 0;
  width: 100%;
  box-sizing: border-box;
}
.page .container-8 {
  margin: 0 12px 1px 0;
  display: inline-block;
  width: 388.6px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.page .container-9 {
  margin-top: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.page .frame-2610401 {
  border-top: 1px solid #E0E0E0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 11px 0 8.6px 0;
  width: 100%;
  box-sizing: border-box;
}
.page .container-10 {
  margin: 0 12px 1px 0;
  display: inline-block;
  width: 388.6px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.page .container-11 {
  margin-top: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.page .frame-2610402 {
  border-top: 1px solid #E0E0E0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 11px 0 9.6px 0;
  width: 100%;
  box-sizing: border-box;
}
.page .group-1 {
  margin-right: 0px;
  display: flex;
  flex-direction: column;
  width: calc(100% - 0px);
  box-sizing: border-box;
}
.page .group-4 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.page .container-21 {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;
  color: #828282;
}
.page .group-7 {
  position: relative;
  margin-bottom: 48px;
  padding: 9px 0 0 3px;
  width: 100%;
  box-sizing: border-box;
}
.page .container-22 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;
  color: #828282;
}
.page .group-5 {
  margin-bottom: 5px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.page .container-13 {
  margin: 0 12px 0.3px 0;
  display: inline-block;
  width: 272.6px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.page .container-12 {
  margin-top: 0.3px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.page .frame-2610408 {
  border-top: 1px solid #E0E0E0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 0 4.7px 0;
  width: 313.5px;
  box-sizing: border-box;
}
.page .cpu {
  margin: 0 12px 0.3px 0;
  display: inline-block;
  width: 272.6px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.page .container-14 {
  margin-top: 0.3px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.page .frame-2610409 {
  border-top: 1px solid #E0E0E0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 0 4.7px 0;
  width: 313.5px;
  box-sizing: border-box;
}
.page .rom {
  margin: 0 12px 0.3px 0;
  display: inline-block;
  width: 272.6px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.page .container-15 {
  margin-top: 0.3px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.page .frame-2610410 {
  border-top: 1px solid #E0E0E0;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 0 4.7px 0;
  width: 313.5px;
  box-sizing: border-box;
}
.page .ram {
  margin: 0 12px 0.3px 0;
  display: inline-block;
  width: 272.6px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.page .container-16 {
  margin-top: 0.3px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.page .frame-2610411 {
  border-top: 1px solid #E0E0E0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 0 4.7px 0;
  width: 313.5px;
  box-sizing: border-box;
}
.page .motor-driver {
  margin: 0 12px 0.3px 0;
  display: inline-block;
  width: 272.6px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.page .container-17 {
  margin-top: 0.3px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.page .frame-2610412 {
  border-top: 1px solid #E0E0E0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 0 4.7px 0;
  width: 313.5px;
  box-sizing: border-box;
}
.page .motor {
  margin: 0 12px 0.3px 0;
  display: inline-block;
  width: 272.6px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.page .container-18 {
  margin-top: 0.3px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.page .frame-2610413 {
  border-top: 1px solid #E0E0E0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 0 4.7px 0;
  width: 313.5px;
  box-sizing: border-box;
}
.page .adc {
  margin: 0 12px 0.3px 0;
  display: inline-block;
  width: 272.6px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.page .container-19 {
  margin-top: 0.3px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.page .frame-2610414 {
  border-top: 1px solid #E0E0E0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 0 4.7px 0;
  width: 313.5px;
  box-sizing: border-box;
}
.page .sensor {
  margin: 0 12px 0.3px 0;
  display: inline-block;
  width: 272.6px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.page .container-20 {
  margin-top: 0.3px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.page .frame-2610415 {
  border-top: 1px solid #E0E0E0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 0 4.7px 0;
  width: 313.5px;
  box-sizing: border-box;
}
.page .group-6 {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.page .body-text-for-whatever-youd-like-to-suggest-add-main-takeaway-points-quotes-anecdotes-or-even-avery-very-short-story {
  margin-right: 4.2px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #828282;
}
.container {
  box-shadow: -4px 8px 20px 0px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  border: 1px solid #F7F7F7;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding: 31px 44px 51px 31px;
  box-sizing: border-box;
}
