.page-1 .container-3 {
  margin-right: 24px;
  width: 568px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 800;
  font-size: 32px;
  line-height: 1.5;
  color: #000000;
}
.page-1 .container {
  margin-right: 15px;
  width: 112px;
  overflow-wrap: break-word;
  font-family: var(--body-text-font-family, 'Inter');
  font-weight: var(--body-text-font-weight, 500);
  font-size: var(--body-text-font-size, 20px);
  line-height: var(--body-text-line-height, 1.5);
  color: #000000;
}
.page-1 .container-1 {
  overflow-wrap: break-word;
  font-family: var(--body-text-font-family, 'Inter');
  font-weight: var(--body-text-font-weight, 500);
  font-size: var(--body-text-font-size, 20px);
  line-height: var(--body-text-line-height, 1.5);
  color: #000000;
}
.page-1 .container-2 {
  overflow-wrap: break-word;
  font-family: var(--body-text-font-family, 'Inter');
  font-weight: var(--body-text-font-weight, 500);
  font-size: var(--body-text-font-size, 20px);
  line-height: var(--body-text-line-height, 1.5);
  color: #000000;
}
.page-1 .items {
  margin: 9.5px 0 8.5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 412.2px;
  height: fit-content;
  box-sizing: border-box;
}
.page-1 .navigation {
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 61.5px 83.8px 52.5px 74px;
  width: 1162px;
  box-sizing: border-box;
}
.page-1 .title {
  margin-bottom: 17px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.page-1 .container-4 {
  margin-right: 12px;
  width: 87px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #828282;
}
.page-1 .container-16 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #828282;
}
.page-1 .container-5 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #828282;
}
.page-1 .container-2 {
  margin-bottom: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 333px;
  box-sizing: border-box;
}
.page-1 .container-6 {
  margin-right: 12px;
  width: 100.8px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.page-1 .container-47 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.page-1 .container-7 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.page-1 .frame-2610398 {
  border-top: 1px solid #E0E0E0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 11px 0 12px 0;
  width: 333px;
  box-sizing: border-box;
}
.page-1 .container-8 {
  margin-right: 12px;
  width: 291px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.page-1 .container-9 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.page-1 .frame-2610399 {
  border-top: 1px solid #E0E0E0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 11px 0 12px 0;
  width: 333px;
  box-sizing: border-box;
}
.page-1 .container-10 {
  margin-right: 12px;
  width: 291px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.page-1 .container-11 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.page-1 .frame-2610400 {
  border-top: 1px solid #E0E0E0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 11px 0 12px 0;
  width: 333px;
  box-sizing: border-box;
}
.page-1 .container-12 {
  margin-right: 12px;
  width: 291px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.page-1 .container-13 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.page-1 .frame-2610401 {
  border-top: 1px solid #E0E0E0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 11px 0 12px 0;
  width: 333px;
  box-sizing: border-box;
}
.page-1 .container-14 {
  margin-right: 12px;
  width: 291px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.page-1 .container-15 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.page-1 .frame-2610402 {
  border-top: 1px solid #E0E0E0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 11px 0 12px 0;
  width: 333px;
  box-sizing: border-box;
}
.page-1 .list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 333px;
  box-sizing: border-box;
}
.page-1 .table {
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  border: 1px solid #E0E0E0;
  margin-right: 54px;
  display: flex;
  flex-direction: column;
  padding: 23px;
  box-sizing: border-box;
}
.page-1 .title-1 {
  margin: 0 12px 8px 0;
  display: inline-block;
  width: 209px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.page-1 .container-28 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  color: #FFFFFF;
}
.page-1 .pill-1 {
  border-radius: 20px;
  background: #000000;
  margin-right: 9px;
  display: flex;
  padding: 6px 16.8px 6px 16px;
  box-sizing: border-box;
}
.page-1 .container-17 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  color: #000000;
}
.page-1 .pill {
  border-radius: 20px;
  background: #F6F6F6;
  display: flex;
  padding: 6px 16.4px 6px 16px;
  box-sizing: border-box;
}
.page-1 .container-1 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.page-1 .container {
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 448px;
  box-sizing: border-box;
}
.page-1 .container-26 {
  margin-right: 12px;
  width: 60px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #828282;
}
.page-1 .container-29 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #828282;
}
.page-1 .container-27 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #828282;
}
.page-1 .container-31 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #828282;
}
.page-1 .container-6 {
  margin: 0 6px 4px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 442px;
  box-sizing: border-box;
}
.page-1 .container-44 {
  margin-right: 12px;
  width: 90.6px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.page-1 .container-50 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.page-1 .container-49 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.page-1 .container-45 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.page-1 .frame-26103982 {
  border-top: 1px solid #E0E0E0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 11px 0 12px 0;
  width: 442px;
  box-sizing: border-box;
}
.page-1 .container-46 {
  margin-right: 12px;
  width: 400px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.page-1 .container-19 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.page-1 .frame-26103992 {
  border-top: 1px solid #E0E0E0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 11px 0 12px 0;
  width: 442px;
  box-sizing: border-box;
}
.page-1 .container-20 {
  margin-right: 12px;
  width: 400px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.page-1 .container-21 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.page-1 .frame-26104001 {
  border-top: 1px solid #E0E0E0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 11px 0 12px 0;
  width: 442px;
  box-sizing: border-box;
}
.page-1 .container-22 {
  margin-right: 12px;
  width: 400px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.page-1 .container-23 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.page-1 .frame-26104011 {
  border-top: 1px solid #E0E0E0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 11px 0 12px 0;
  width: 442px;
  box-sizing: border-box;
}
.page-1 .container-24 {
  margin-right: 12px;
  width: 400px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.page-1 .container-25 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.page-1 .frame-26104021 {
  border-top: 1px solid #E0E0E0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 11px 0 12px 0;
  width: 442px;
  box-sizing: border-box;
}
.page-1 .list-2 {
  margin-right: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 442px;
  box-sizing: border-box;
}
.page-1 .table-1 {
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  border: 1px solid #E0E0E0;
  margin-bottom: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 23px 17px 19px 23px;
  width: 490px;
  height: fit-content;
  box-sizing: border-box;
}
.page-1 .container-8 {
  margin: 0 98px 63px 98px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.page-1 .title-2 {
  margin-bottom: 17px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.page-1 .container-42 {
  margin-right: 12px;
  width: 78px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #828282;
}
.page-1 .container-43 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #828282;
}
.page-1 .container-30 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #828282;
}
.page-1 .container-4 {
  margin-bottom: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 331px;
  box-sizing: border-box;
}
.page-1 .container-32 {
  margin-right: 12px;
  width: 96.8px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.page-1 .container-48 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.page-1 .container-33 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.page-1 .frame-26103981 {
  border-top: 1px solid #E0E0E0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 11px 0 12px 0;
  width: 331px;
  box-sizing: border-box;
}
.page-1 .container-34 {
  margin-right: 12px;
  width: 289px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.page-1 .container-35 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.page-1 .frame-26103991 {
  border-top: 1px solid #E0E0E0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 11px 0 12px 0;
  width: 331px;
  box-sizing: border-box;
}
.page-1 .container-36 {
  margin-right: 12px;
  width: 289px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.page-1 .container-37 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.page-1 .frame-26104002 {
  border-top: 1px solid #E0E0E0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 11px 0 12px 0;
  width: 331px;
  box-sizing: border-box;
}
.page-1 .container-38 {
  margin-right: 12px;
  width: 289px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.page-1 .container-39 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.page-1 .frame-26104012 {
  border-top: 1px solid #E0E0E0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 11px 0 12px 0;
  width: 331px;
  box-sizing: border-box;
}
.page-1 .container-40 {
  margin-right: 12px;
  width: 289px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.page-1 .container-41 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.page-1 .frame-26104022 {
  border-top: 1px solid #E0E0E0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 11px 0 12px 0;
  width: 331px;
  box-sizing: border-box;
}
.page-1 .list-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 331px;
  box-sizing: border-box;
}
.page-1 .table-2 {
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  border: 1px solid #E0E0E0;
  margin: 0 98px 923px 98px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  padding: 23px 23px 13px 23px;
  width: fit-content;
  box-sizing: border-box;
}
.page-1 .site-name {
  margin-bottom: 98px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--subheading-font-family, 'Inter');
  font-weight: var(--subheading-font-weight, 400);
  font-size: var(--subheading-font-size, 24px);
  line-height: var(--subheading-line-height, 1.5);
  color: #000000;
}
.page-1 .icon {
  width: 20px;
  height: 19.9px;
}
.page-1 .buttons-icon {
  border-radius: 4px;
  margin: 0px 0;
  display: flex;
  width: 20px;
  height: 19.9px;
  box-sizing: border-box;
}
.page-1 .icon-1 {
  width: 18px;
  height: 18px;
}
.page-1 .buttons-icon-1 {
  border-radius: 4px;
  margin: 1px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.page-1 .icon-2 {
  width: 20px;
  height: 14px;
}
.page-1 .buttons-icon-2 {
  border-radius: 4px;
  margin: 3px 0;
  display: flex;
  width: 20px;
  height: 14px;
  box-sizing: border-box;
}
.page-1 .icon-3 {
  width: 20px;
  height: 20px;
}
.page-1 .buttons-icon-3 {
  border-radius: 4px;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.page-1 .social-icons {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 164px;
  box-sizing: border-box;
}
.page-1 .container-3 {
  margin: 4px 0 10px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.page-1 .topic {
  margin-bottom: 24px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--small-text-font-family, 'Inter');
  font-weight: var(--small-text-font-weight, 500);
  font-size: var(--small-text-font-size, 16px);
  line-height: var(--small-text-line-height, 1.5);
  color: #000000;
}
.page-1 .page {
  margin: 0 3.2px 24px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--small-text-font-family, 'Inter');
  font-weight: var(--small-text-font-weight, 500);
  font-size: var(--small-text-font-size, 16px);
  line-height: var(--small-text-line-height, 1.5);
  color: #454545;
}
.page-1 .page-1 {
  margin: 0 3.2px 24px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--small-text-font-family, 'Inter');
  font-weight: var(--small-text-font-weight, 500);
  font-size: var(--small-text-font-size, 16px);
  line-height: var(--small-text-line-height, 1.5);
  color: #454545;
}
.page-1 .page-2 {
  margin-right: 3.2px;
  overflow-wrap: break-word;
  font-family: var(--small-text-font-family, 'Inter');
  font-weight: var(--small-text-font-weight, 500);
  font-size: var(--small-text-font-size, 16px);
  line-height: var(--small-text-line-height, 1.5);
  color: #454545;
}
.page-1 .items-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.page-1 .topic-1 {
  margin-bottom: 24px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--small-text-font-family, 'Inter');
  font-weight: var(--small-text-font-weight, 500);
  font-size: var(--small-text-font-size, 16px);
  line-height: var(--small-text-line-height, 1.5);
  color: #000000;
}
.page-1 .page-3 {
  margin: 0 3.2px 24px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--small-text-font-family, 'Inter');
  font-weight: var(--small-text-font-weight, 500);
  font-size: var(--small-text-font-size, 16px);
  line-height: var(--small-text-line-height, 1.5);
  color: #454545;
}
.page-1 .page-4 {
  margin: 0 3.2px 24px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--small-text-font-family, 'Inter');
  font-weight: var(--small-text-font-weight, 500);
  font-size: var(--small-text-font-size, 16px);
  line-height: var(--small-text-line-height, 1.5);
  color: #454545;
}
.page-1 .page-5 {
  margin-right: 3.2px;
  overflow-wrap: break-word;
  font-family: var(--small-text-font-family, 'Inter');
  font-weight: var(--small-text-font-weight, 500);
  font-size: var(--small-text-font-size, 16px);
  line-height: var(--small-text-line-height, 1.5);
  color: #454545;
}
.page-1 .items-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.page-1 .topic-2 {
  margin-bottom: 24px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--small-text-font-family, 'Inter');
  font-weight: var(--small-text-font-weight, 500);
  font-size: var(--small-text-font-size, 16px);
  line-height: var(--small-text-line-height, 1.5);
  color: #000000;
}
.page-1 .page-6 {
  margin: 0 3.2px 24px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--small-text-font-family, 'Inter');
  font-weight: var(--small-text-font-weight, 500);
  font-size: var(--small-text-font-size, 16px);
  line-height: var(--small-text-line-height, 1.5);
  color: #454545;
}
.page-1 .page-7 {
  margin: 0 3.2px 24px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--small-text-font-family, 'Inter');
  font-weight: var(--small-text-font-weight, 500);
  font-size: var(--small-text-font-size, 16px);
  line-height: var(--small-text-line-height, 1.5);
  color: #454545;
}
.page-1 .page-8 {
  margin-right: 3.2px;
  overflow-wrap: break-word;
  font-family: var(--small-text-font-family, 'Inter');
  font-weight: var(--small-text-font-weight, 500);
  font-size: var(--small-text-font-size, 16px);
  line-height: var(--small-text-line-height, 1.5);
  color: #454545;
}
.page-1 .items-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.page-1 .container-5 {
  display: flex;
  flex-direction: row;
  column-gap: 130.3px;
  box-sizing: border-box;
}
.page-1 .container-7 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 856.7px;
  height: fit-content;
  box-sizing: border-box;
}
.page-1 .divider {
  background: #E6E6E6;
  position: absolute;
  top: 1px;
  right: -198px;
  width: 1280px;
  height: 1px;
}
.page-1 .navigation-footer {
  background: #FFFFFF;
  position: relative;
  padding: 48px 80px;
  width: 1162px;
  box-sizing: border-box;
}
.container-18 {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  width: 1162px;
  box-sizing: border-box;
}
