.operation-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.operation-menu-row-head {
  margin-bottom: 20px;
}

.operation-menu-row {
  margin-bottom: 20px;
}

.operation-menu-row-foot {
  margin-bottom: 20px;
}
